.student-list-container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.student-list-container h2 {
  text-align: center;
  font-size: 24px;
  color: #2c3e50;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #4CAF50;
}
.student-list-container  p{
  text-align: center;
  font-size: 16px;
  color: #7f8c8d;
  margin-bottom: 20px;
}
.nav-search{
  display: flex;
  justify-content: flex-start;
  gap : 10px;
  align-items: center;
  margin-bottom: 20px;
}

.nav-search input{
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 30%;
  font-size: 16px;
}

.nav-search button{
  padding: 5px;
  width: 10%;
  font-size: 16px;
}


.sort-by {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sort-by label {
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.sort-by select {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sort-by select:hover {
  border-color: #272727;
  background-color: #fff;
}

.sort-by select:focus {
  outline: none;
  border-color: #55c064;
  box-shadow: 0 0 5px rgba(78, 211, 120, 0.5);
}

.student-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.student-table th {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  text-align: left;
  font-weight: 600;
}

.student-table td {
  padding: 12px;
  border-bottom: 1px solid #e0e0e0;
}

.student-table tr:last-child td {
  border-bottom: none;
}

.student-table tr:hover {
  background-color: #f5f5f5;
}

.action-buttons {
  display: flex;
  gap: 8px;
}

.btn {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: all 0.3s ease;
}

.btn-edit {
  background-color: #4CAF50;
  color: white;
}

.btn-edit:hover {
  background-color: #45a049;
  transform: translateY(-1px);
}

.btn-delete {
  background-color: #f44336;
  color: white;
}

.btn-delete:hover {
  background-color: #e53935;
  transform: translateY(-1px);
}

/* Styles page btn*/
.pagination {
  width: 30%;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 12px;
  margin: 0 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #dddddd;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination button:hover {
  background-color: #45a049;
  color: white;
}

.pagination button:disabled {
  background-color: #e9ecef;
  color: #6c757d;
  cursor: not-allowed;
}

.pagination button.active {
  background-color: #45a049;
  color: white;
  border-color: #45a049;
}